h1 {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  list-style-type: none;
}

ul {
  padding: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.listItem {
  width: 350px;
  height: 80px;
  border-radius: 5px;
  border: 2px solid black;
}
